<footer class="footer">
  <p>
    Crafted with <span class="heart">❤</span> by <a href="https://twitter.com/faizmokh">@faizmokhtar</a>. A <a href="https://github.com/faizmokhtar/Simple">Simple</a> theme.
  </p>
</footer>
