{{!< default}}

<div class="container padding-both">
  <div class="row">
    <div class="col-md-12">
      <div class="main-header">
        <h1 class="title text-center"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h4 class="description text-center">{{@blog.description}}</h4>
      </div>
    </div>
  </div>

  <main class="content">
    {{> "loop"}}
  </main>

  {{pagination}}
</div>
