.post-header {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eeeeee;

    .title {
        font-size: 2rem;
    }
    .meta {
        font-size: 0.8rem;
        font-weight: $semi-bold;
        text-transform: uppercase;
    }
}

.post-content {
    a {
        color: $color-primary;
    }
}

.read-next {
    background-color: #fafafa;
}
