.post-navigation {
    padding-top: 4rem;

    a {
        text-transform: uppercase;
		text-decoration: underline;
		font-weight: 600;
        font-size: 0.9rem;

		&:active {
			transform: scale(0.9);
		}
    }
}

.post-header {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eeeeee;

    .title {
        font-size: 2.4rem;
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    .meta {
        font-size: 0.8rem;
        font-weight: $medium;
        text-transform: uppercase;
    }
}

.post-content {
    a {
        color: $color-primary;
        font-weight: $medium;
        text-decoration: underline;
        background: transparent;
        transition: background-color 0.3s, border-color 0.3s;
        &:hover {
            color: $color-primary-dark;
            background-color: $color-primary-light;
        }
    }
}

.social {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
    .fa {
        color: $color-primary-light;
        margin: 0 0.8rem;

        &.fa-facebook:hover {
            color: #3b5998;
        }

        &.fa-twitter:hover {
            color: #55acee;
        }

        &.fa-google-plus:hover {
            color: #dc4e41;
        }

        &.fa-reddit:hover {
            color: #ff4500;
        }

        &.fa-yc:hover {
            color: #ff6600;
        }

    }
}

.post-author {
    font-size: 0.8rem;

    .image {
        padding: 1rem;
    }
    .name {
        margin-bottom: 0.6rem;
    }

    .bio {
        line-height: 1.2rem;
    }
    .meta {
        font-size: 0.7rem;
        margin: 0;

        .fa {
            margin-right: 0.6rem;
            color: $color-primary-light;

            &.fa-globe {
                margin-left: 3rem;
            }
        }
    }
}

.read-next {
    background-color: $color-footer;
    padding: 2rem 0;
    margin-top: 4rem;

    .next-title {
        padding-bottom: 0.6rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid $color-primary-light;
        font-size: 1rem;
        font-weight: $bold;
    }

    .panel {
        border: 2px solid $color-primary-light;

        overflow: hidden;
        .img-container {
            height: 200px;
            width: 200px;
        }
        .title {
            color: $color-base;
            font-size: 1.4rem;
        }

        .excerpt {
            color: $color-base;
            font-size: 0.8rem;
        }
    }

}
