html {
    font-size: $base-font-size;
    @media screen and (max-width: $screen-phone) {
        font-size: 15px;
    }
}

body {
    font-family: $base-font-family;
    font-size: 1rem;
    line-height: $base-line-height;
    color: $color-base;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

img {
    @include img-responsive;
}

a {
    color: $color-primary;
    text-decoration: none;
}

::selection {
    background: $color-primary;
    color: $color-white;
}
::-moz-selection {
    background: $color-primary;
    color: $color-white;
}

.main-header {
    .title {
        letter-spacing: 1px;
        font-size: 2.2rem;
        font-weight: $bold;
        margin-top: 3rem;
        margin-bottom: 1rem;

        a {
            color: $color-heading;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .description {
        font-family: $base-font-family;
        font-weight: $regular;
        font-size: 1rem;
    }
}
