.footer {
    padding: 0.4rem;
    background-color: $color-primary-dark;
    color: $color-primary-light;
    p {
        font-family: $base-font-family;
        text-align: left;
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: $regular;
        margin: 0;
        a {
            font-weight: 600;
            color: $color-white;
        }
        .heart {
            color: $color-heart;
        }
    }
}
