h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $color-heading;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
}

h5 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    letter-spacing: -0.003em;
}

strong {
    font-weight: $bold;
}
