// Weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-weight: $regular;
$base-font-size: 21px;
$base-line-height: 1.58;

$heading-font-family: 'Roboto', sans-serif;
$heading-font-weight: $semi-bold;

$color-base: #21272d;
$color-primary: #34495e;
$color-primary-light: lighten($color-primary, 30%);
$color-primary-dark: darken($color-primary, 10%);
$color-white: #fffff1;
$color-heart: #e74c3c;
